.login-container {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    &_contentBox {
        background-color: lightgrey;
        /* Light grey background */
        border-radius: 10px;
        /* Rounded corners */
        padding: 20px 100px;
        /* Add some padding */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: max-content;

        &_items {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

h1 {
    margin-bottom: 20px;
}

form {
    // display: flex;
    // flex-direction: column;
    // width: 300px;
}

label {
    margin-bottom: 5px;
    padding-right: 20px;
}

input, select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #007bff;
}

.dropdown-button {
    margin-bottom: 10px;
}

// .dropdown {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }

.dropdown-button {
    /* Style your dropdown button */
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    color: black;
}

.dropdown-menu {
    /* Style the dropdown menu */
    // position: absolute;
    // top: 100%;
    // left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 8px 0;
    align-self: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    /* Style the list items within the menu */
    padding: 8px 12px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    /* Add hover effect */
    background-color: #f5f5f5;
}